//Option 1 
//red: #ec462f;
// $wheat: #f7e5b6;
// $white: #fcfcfc;
// $darkGrey: #23231A;

// Option 2

$red: #e38061;
$pink: #e8d3d3;
$green: #5da949;

// $red: #ec462f;
$wheat: #f7e5b6;
$white: #fcfcfc;
$darkGrey: #23231A;


// Font pairing 1:

$Yanone: 'Yanone Kaffeesatz', sans-serif;
$Roboto: 'Roboto', sans-serif;
